    body {
        overflow-x: hidden;
        margin: 0;
    }

    .banner {
        margin: 0;
        background-size: cover;
        padding-right: 0;
    }

    .menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white;
        list-style: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: large;
        background-image: linear-gradient(black, rgba(0, 0, 0, 0.363));
        top: 0;
        left: 0;
        width: 100%;
        z-index: 5000;
        position: fixed;
        margin-top: 0;

    }

    .menu img {
        width: 80px;
    }
    .menu #sair{
        width:40px;
    }

    .ateez_logo img {
        margin-top: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin: auto;

    }

    .about {
        color: white;
        font-size: 50px;
        display: flex;
        justify-content: left;
        align-items: center;
        background-color: rgb(32, 30, 30);
        margin-bottom: 250px;

    }

    .about img {
        display: flex;
        width: 800px;
        border-radius: 30px
    }

    .choisan {
        margin-top: 60px;
        display: inline-flex;
    }

    .choisan p {
        font-size: 40px;
        color: white;
        margin-right: 0px;
        width: 50%;
    }

    .choisan img {
        position: relative;
        z-index: 9;
        width: 70%;
        top: 0;
        left: 0"

    }

    .cadastro {
        display: flex;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgb(218, 216, 216);

    }

    .dados {
        margin-top: 30px;
    }

    .dados h1 {
        color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
    }

    .dados p {
        color: black;
        margin-top: 20px;
        font-weight: bolder;
    }

    .dados input {
        border-radius: 5px;
        width: 250px;
        height: 20px;
        border-style: none;
    }

    .dados button {
        display: flex;
        border-style: none;
        background-color: transparent;
        margin-top: 30px;
        margin-left: 100px;
    }

    .dados button img {

        width: 50px;
    }