    body {
        overflow-x: hidden;
        margin: 0;
    }

    .banner {
        margin: 0;
        background-size: cover;
        padding-right: 0;
    }



    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed; z-index: 9000; width: 100%; top: 0; left: 0;
        background-image: linear-gradient(black,rgba(0, 0, 0, 0));
    }

    .navbar img {
        width: 80px;
        margin-left: 50px;
        
    }
    .menu button{
        border-style: groove;
        border-radius: 5px;
        border-color: white;
        background-color: transparent;
        color: white;
        margin-top: 10px;
        margin-right: 20px;
        cursor: pointer;
        font-size: 19px;
        border: 0;
    
    }
    .menu{
        margin-top: 10px;
    }
    .menu a{
        margin-left: 20px;
        margin-right: 20px;
        color: white;
        text-decoration: none;
    }
    .menu #btn_principal{
        background-color: rgb(255, 255, 255);
        color: black;
        border-color:rgb(189, 186, 186);
        border: 0;
        
    }

    .ateez_logo img {
        margin-top: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin: auto;

    }

    .about {
        color: white;
        font-size: 30px;
        display: flex;
        justify-content: left;
        align-items: center;
        background-color: rgb(32, 30, 30);
        margin-bottom: 250px;
        margin-top: 700px;

    }

    .about img {
        display: flex;
        width: 800px;
    }

    .choisan {
        margin-top: 60px;
        display: inline-flex;
    }

    .choisan p {
        font-size: 40px;
        color: white;
        margin-right: 0px;
        width: 50%;
    }

    .choisan img {
        position: relative;
        z-index: 9;
        width: 70%;
        top: 0;
        left: 0"

    }

    .container {
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }

    .cadastro {
        width: 50%;
        display: flex;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgb(218, 216, 216);

    }

    .dados {
        margin-top: 30px;
    }

    .dados h1 {
        color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
    }

    .dados p {
        color: black;
        margin-top: 20px;
        font-weight: bolder;
    }

    .dados input {
        border-radius: 5px;
        width: 250px;
        height: 20px;
        border-style: none;
    }

    .dados button {
        display: flex;
        border-style: none;
        background-color: transparent;
        margin-top: 30px;
        margin-left: 100px;
    }

    .dados button img {

        width: 50px;
    }

    .conteudo {
        display: flex;
        flex-direction: column;

    }

    .conteudo button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
    }